
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">

            Hello, @User.Identity.Name !
        </li>
        <li>
            @Html.ActionLink("注销", "SignOut", "Account")

        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("登录", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </li>
    </ul>
}
