@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (from the view)
        <p>We're goint to have an exciting party.<br />
        (To do: sell it better. Add pictures or somethings.)
        </p>
       @Html.ActionLink("RSVP Now","RsvpForm");
    </div>
</body>
</html>